template(name="game")
  div.game-container
    //- h1 Jeu
    //- p
    //-   | Progression arbre :
    //-   = tree.count

    ul.flip
      each cities
        li= name
      //- each cities
      //-   li=.