template(name="game")
  div.game-container
    // button.btn.btn-primary(data-action="launch")  Dechet
    div(data-cityname="CHARBO" style="display:none;")
    //- embed(id="sound" src="sf_afficheur_gare.mp3" loop="true" autostart="true" type='audio/mpeg')
    //- style="visibility:hidden;"
    audio(id="sound" controls='autoplay loop' style="visibility:hidden;")
      source(src='/sf_afficheur_gare.mp3' type='audio/mpeg')


    //- p= randomCity
    //- h1 Jeu
    //- p
    //-   | Progression arbre :
    //-   = tree.count
    ul.flip(data-city="#{randomCity._id}")
      each cities
        li= name
