template(name="home")
  .carousel.slide(data-ride='carousel')
    .carousel-inner(role='listbox')
      .item.active
        img(src="/1400x700.gif")
        .carousel-caption
          | cp
      .item
        img(src="/1400x700.gif")
        .carousel-caption
          | Caption




