template(name="win")

  .row.nav-row
    .col-md-6
      .container
        h1.end-title Bravo ! Vous avez gagné !
    .col-md-6
      p Image
  .row.content-row
    .col-md-6
      .container
        p blablabla
    .col-md-6
